<!-- ЭТО ДОСТИЖЕНИЯ -->

<!DOCTYPE html>
<!--[if lt IE 6 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie6" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 7 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie7" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 8 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie8" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 9 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie9" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 10 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie10" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if (gte IE 11)|!(IE)]><!-->
<html itemscope itemtype="https://schema.org/WebPage" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr">
<!--<![endif]-->
<head>

    <!-- SEO -->
    <meta charset="utf-8" />
    <title itemprop="name">Достижения</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="canonical" href="">
    <meta http-equiv="content-language" content="ru">
    <meta name="robots" content="index, follow">
    <meta http-equiv="x-dns-prefetch-control" content="on">

    <!-- Link libs -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css"
            integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">


    <link rel="stylesheet" href="../styles/vars.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/layout.css" />
</head>
<body class="body-wallet mobile-wallet">

<main class="wrapper" id="wrapper">

    <header class="auch__header">

        <img src="../img/png/rocket-ref.png" alt="">

        <div class="container">

            <a href="profile.html"><i class="fa-solid fa-arrow-left"></i> Вернуться назад</a>

            <span>
                Зарабатывайте достижения и получайте очки вместе с нами
            </span>

        </div>

    </header>

    <div class="auch__wrapper">

        <div class="container">

            <div class="auch-title">Достижения</div>

            <div class="auch__list">

                <div class="ref__ctx ref__good">
                    <div class="ref__icon ref__icon-good">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="ref__text">Первый джекпот</div>
                </div>

                <div class="ref__ctx ref__progress">
                    <div class="ref__icon ref__icon-progress"

                         style="
                         background:
                         radial-gradient(
                            closest-side, #111342 79%,
                            transparent 80% 100%),
                            /* УКАЗЫВАТЬ ЗНАЧЕНИЯ В ПРОЦЕНТАХ ВМЕСТО 25% */
                         conic-gradient(#6505B4 25%, #cccccc 0)
                         ;
                            "

                    >
                    </div>
                    <div class="ref__text">Пригласить <span>2</span> рефералов</div>
                </div>

                <div class="ref__ctx ref__progress">
                    <div class="ref__icon ref__icon-progress"

                         style="
                         background:
                         radial-gradient(
                            closest-side, #111342 79%,
                            transparent 80% 100%),
                         conic-gradient(#6505B4 55%, #cccccc 0)
                         ;
                            "

                    >
                    </div>
                    <div class="ref__text">Пригласить <span>4</span> рефералов</div>
                </div>

                <div class="ref__ctx ref__progress">
                    <div class="ref__icon ref__icon-progress"

                         style="
                         background:
                         radial-gradient(
                            closest-side, #111342 79%,
                            transparent 80% 100%),
                         conic-gradient(#6505B4 75%, #cccccc 0)
                         ;
                            "

                    >
                    </div>
                    <div class="ref__text">Пригласить <span>8</span> рефералов</div>
                </div>

                <div class="ref__ctx ref__good">
                    <div class="ref__icon ref__icon-good">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="ref__text">Пригласить <span>16</span> рефералов</div>
                </div>

                <div class="ref__ctx ref__progress">
                    <div class="ref__icon ref__icon-progress"

                         style="
                         background:
                         radial-gradient(
                            closest-side, #111342 79%,
                            transparent 80% 100%),
                         conic-gradient(#6505B4 35%, #cccccc 0)
                         ;
                            "

                    >
                    </div>
                    <div class="ref__text">Вложить в фарм <span>100</span></div>
                </div>

                <div class="ref__ctx ref__progress">
                    <div class="ref__icon ref__icon-progress"

                         style="
                         background:
                         radial-gradient(
                            closest-side, #111342 79%,
                            transparent 80% 100%),
                         conic-gradient(#6505B4 65%, #cccccc 0)
                         ;
                            "

                    >
                    </div>
                    <div class="ref__text">Вложить в фарм <span>500</span></div>
                </div>

                <div class="ref__ctx ref__good">
                    <div class="ref__icon ref__icon-good">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="ref__text">Вложить в фарм <span>1000</span></div>
                </div>

                <div class="ref__ctx ref__progress">
                    <div class="ref__icon ref__icon-progress"

                         style="
                         background:
                         radial-gradient(
                            closest-side, #111342 79%,
                            transparent 80% 100%),
                         conic-gradient(#6505B4 25%, #cccccc 0)
                         ;
                            "

                    >
                    </div>
                    <div class="ref__text">Удерживать деньги на фарме <span>5</span> дней</div>
                </div>

                <div class="ref__ctx ref__progress">
                    <div class="ref__icon ref__icon-progress"

                         style="
                         background:
                         radial-gradient(
                            closest-side, #111342 79%,
                            transparent 80% 100%),
                         conic-gradient(#6505B4 50%, #cccccc 0)
                         ;
                            "

                    >
                    </div>
                    <div class="ref__text">Удерживать деньги на фарме <span>10</span> дней</div>
                </div>

                <div class="ref__ctx ref__progress">
                    <div class="ref__icon ref__icon-progress"

                         style="
                         background:
                         radial-gradient(
                            closest-side, #111342 79%,
                            transparent 80% 100%),
                         conic-gradient(#6505B4 75%, #cccccc 0)
                         ;
                            "

                    >
                    </div>
                    <div class="ref__text">Удерживать деньги на фарме <span>15</span> дней</div>
                </div>

                <div class="ref__ctx ref__good">
                    <div class="ref__icon ref__icon-good">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="ref__text">Удерживать деньги на фарме <span>20</span> дней</div>
                </div>

            </div>

        </div>

    </div>

</main>


</body>
</html>