{% extends 'main/module/base.html' %}

{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "styles/layout.css" %}" />
<link rel="stylesheet" href="{% static "styles/messages.css" %}" />
<link rel="stylesheet" href="{% static "styles/auth.css" %}" />
{% endblock %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% block content %}
    <main class="wrapper" id="wrapper">

        <span class="planet-one">
            <img src="{% static "img/png/ПЛАНЕТА1.png" %}" alt="">
        </span>

        <span class="planet-two">
            <img src="{% static "img/png/ПЛАНЕТА2.png" %}" alt="">
        </span>

        <span class="planet-three">
            <img src="{% static "img/png/front-shapes.png" %}" alt="">
        </span>

        <div class="auth__section">

            <h1>Твой персональный <br /> крипто-кошелек</h1>

            <div class="auth__container">

                <form class="popup__form login__from" action="" method="post">

                    <span class="form__h1">Авторизация</span>

                    {% csrf_token %}

                    {% for field in form %}
                        <label class="popup__label label__email" for="{{ field.auto_id }}">
                            <span class="popup__label-span">{{ field.label }}</span>
                            {{ field }}
                            {% if field.auto_id == "id_password" %}
                                <a href="{% url 'recall' %}" class="form__span">Вспомнить пароль</a>
                            {% endif %}
                        </label>
                     {% endfor %}


                    <button class="popup__button login" type="submit"><i class="fa-solid fa-arrow-right-to-bracket"></i> Войти</button>

                    <div class="form__a">
                        У вас нет аккаунта?
                        <a href="{% url 'registration' %}">Регистрация</a>
                    </div>

                </form>

            </div>

        </div>

    </main>

    <script>
        document.querySelector('.login').addEventListener('click', e => {
            e.preventDefault()

            let csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value,
                email = document.querySelector('#id_email').value,
                password = document.querySelector('#id_password').value

            ajax({
                type: 'json',
                method: 'POST',
                async: true,
                cache: false,
                url: '/ajax/login',
                data: `csrfmiddlewaretoken=${csrf}&email=${email}&password=${password}`,
                ok: (xhr) => {
                    if (xhr.status === 200) {
                        window.location = '/wallet'
                    }
                },
                error: (xhr) => {
                    console.log(xhr)
                }
            })
        })
    </script>
{% endblock %}