<!-- ЭТО ОБМЕН -->

<!DOCTYPE html>
<!--[if lt IE 6 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie6" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 7 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie7" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 8 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie8" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 9 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie9" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 10 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie10" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if (gte IE 11)|!(IE)]><!-->
<html itemscope itemtype="https://schema.org/WebPage" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr">
<!--<![endif]-->
<head>

    <!-- SEO -->
    <meta charset="utf-8" />
    <title itemprop="name">Обмен</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="canonical" href="">
    <meta http-equiv="content-language" content="ru">
    <meta name="robots" content="index, follow">
    <meta http-equiv="x-dns-prefetch-control" content="on">

    <!-- Link libs -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css"
            integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">


    <link rel="stylesheet" href="../styles/vars.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/layout.css" />
</head>
<body class="body-wallet mobile-wallet">

<main class="wrapper wrapper__top" id="wrapper">

    <div class="popup__container">

        <div onclick="window.history.back()" class="pop__close"><i class="fa-solid fa-arrow-left"></i> Вернуться назад</div>

        <h1 class="pop__title">Обменять</h1>

        <form class="popup__form" action="" method="post">

            <label class="popup__label" for="">
                <span class="popup__label-span">Внесете</span>
                <div class="pl-flex">
                    <input class="popup__label-input" id="to__change" type="text" name="to__send" required>
                    <div id="assets__change-to" class="selector__wrap">
                        <div class="selector__head">
                            <div class="selector__title">
                            <span class="selector__img">
                                <img src="../img/coin/etherium.png" alt="">
                            </span>

                                <div>
                                    <span class="selector__name">Etherium</span>
                                    <p class="selector__more">1.02 ETH</p>
                                </div>
                            </div>

                            <div class="selector__arrow"><i class="fa-solid fa-chevron-down"></i></div>
                        </div>

                        <div class="selector__pop">

                        </div>
                    </div>
                </div>
            </label>

            <div class="popup__block-arrow">
                <button type="button" class="change-swap">
                    <img src="../img/png/Vertical_switch_long_light.png" alt="">
                </button>
            </div>

            <label class="popup__label" for="">
                <span class="popup__label-span">Получите</span>
                <div class="pl-flex">
                    <input class="popup__label-input" id="from__change" type="text" name="to__send" required>
                    <div id="assets__change-from" class="selector__wrap">
                        <div class="selector__head">
                            <div class="selector__title">
                            <span class="selector__img">
                                <img src="../img/coin/tether.png" alt="">
                            </span>

                                <div>
                                    <span class="selector__name">Tether</span>
                                    <p class="selector__more">12.7 USDT</p>
                                </div>
                            </div>

                            <div class="selector__arrow"><i class="fa-solid fa-chevron-down"></i></div>
                        </div>

                        <div class="selector__pop">

                        </div>
                    </div>
                </div>
            </label>

            <button class="popup__button" type="button"><i class="fa-solid fa-dice"></i> Обменять</button>

        </form>

    </div>

</main>


</body>
</html>