<!-- ЭТО ДЕПОЗИТ -->

<!DOCTYPE html>
<!--[if lt IE 6 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie6" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 7 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie7" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 8 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie8" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 9 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie9" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 10 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie10" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if (gte IE 11)|!(IE)]><!-->
<html itemscope itemtype="https://schema.org/WebPage" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr">
<!--<![endif]-->
<head>

    <!-- SEO -->
    <meta charset="utf-8" />
    <title itemprop="name">Депозит</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="canonical" href="">
    <meta http-equiv="content-language" content="ru">
    <meta name="robots" content="index, follow">
    <meta http-equiv="x-dns-prefetch-control" content="on">

    <!-- Link libs -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css"
            integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">


    <link rel="stylesheet" href="../styles/vars.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/layout.css" />
</head>
<body class="body-wallet mobile-wallet">

<!--

coin = request.GET.get("coin")
..................

-->

<main class="wrapper" id="wrapper">

    <div class="deposit__section">

        <div class="container deposit__container">

            <a class="ref-back" href="wallet.html"><i class="fa-solid fa-arrow-left"></i> Вернуться назад</a>

            <div class="deposit__content">
                <div class="depo__method">
                    <div class="dt__wrap">
                        <div class="dt-title">
                            <span>
                                <img src="../img/coin/usd.png" alt="">
                            </span>
                            <p>USD</p>
                        </div>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <div style="position: relative">
                        <div class="dt__popup">
                            <a class="dt-a" href="./deposit.html?coin=2">
                                <span><img src="../img/coin/etherium.png" alt=""></span>
                                <p>Etherium</p>
                            </a>
                            <a class="dt-a" href="./deposit.html?coin=3">
                                <span><img src="../img/coin/tether.png" alt=""></span>
                                <p>Tether</p>
                            </a>
                            <a class="dt-a" href="./deposit.html?coin=4">
                                <span><img src="../img/coin/avalanche.png" alt=""></span>
                                <p>Avalanche</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="depo__net">
                    <span class="dn-title">Сеть для депозита</span>
                    <select id="net__select" name="net">
                        <option value="1">USDC-ERC20</option>
                    </select>
                </div>

                <div class="depo__qr">
                    <div class="qr__wrap">
                        <span class="qr__span">
                            <img src="../img/png/qr.png" alt="">
                        </span>
                    </div>
                    <div class="address_wrap">
                        <span class="da-title">Депозитный адрес</span>
                        <div class="da-address">
                            <span class="deposit-address">0x8041fkf252f2352g56123f30234f32502325f</span>
                            <button onclick="copyAddress()" class="address-copy"><i class="fa-regular fa-copy"></i></button>
                        </div>
                    </div>
                </div>

                <div class="depo__min">
                    <span class="dm-l">Минимальный <br /> размер депозита</span>
                    <span class="dm-r">0,000000001 USD</span>
                </div>
            </div>

        </div>
    </div>

</main>

<script src="../scripts/index.js"></script>
<script src="../scripts/deposit.js"></script>

</body>
</html>