<!-- ЭТО ПРОФИЛЬ -->

<!DOCTYPE html>
<!--[if lt IE 6 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie6" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 7 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie7" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 8 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie8" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 9 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie9" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 10 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie10" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if (gte IE 11)|!(IE)]><!-->
<html itemscope itemtype="https://schema.org/WebPage" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr">
<!--<![endif]-->
<head>

    <!-- SEO -->
    <meta charset="utf-8" />
    <title itemprop="name">Профиль</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="canonical" href="">
    <meta http-equiv="content-language" content="ru">
    <meta name="robots" content="index, follow">
    <meta http-equiv="x-dns-prefetch-control" content="on">

    <!-- Link libs -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css"
            integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">


    <link rel="stylesheet" href="../styles/vars.css" />
    <link rel="stylesheet" href="../styles/animation.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/layout.css" />
</head>
<body class="body-wallet mobile-wallet">

<div class="swipe__loader">
    <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="bth__popup bth__chart-p">
    <div class="bth-p__container chart__popup">
        <div class="bp__text">Вскоре будет доступно</div>
    </div>
</div>

<div style="position: relative">
    <div class="bell__popup">
        <ul class="ul__notice">
            <li class="bell__notice bell__notice-1">
                <div class="nt__Head">
                    <div class="nt__title">Новое уведомление</div>
                    <div class="nt__time">26 апр 18:21</div>
                </div>
                <div class="nt__text">
                    Lorem ipsum dolor sit amet + 15%
                </div>
                <div onclick="" class="nt__disable">
                    <i class="fa-solid fa-check"></i>
                </div>
            </li>

            <li class="bell__notice bell__notice-1">
                <div class="nt__Head">
                    <div class="nt__title">Новое уведомление</div>
                    <div class="nt__time">26 апр 15:23</div>
                </div>
                <div class="nt__text">
                    Lorem ipsum dolor sit amet + 15%
                </div>
                <div onclick="" class="nt__disable">
                    <i class="fa-solid fa-check"></i>
                </div>
            </li>

            <li class="bell__notice bell__notice-1">
                <div class="nt__Head">
                    <div class="nt__title">Новое уведомление</div>
                    <div class="nt__time">26 апр 14:16</div>
                </div>
                <div class="nt__text">
                    Lorem ipsum dolor sit amet + 15%
                </div>
                <div onclick="" class="nt__disable">
                    <i class="fa-solid fa-check"></i>
                </div>
            </li>
        </ul>
    </div>
</div>

<main class="wrapper wrapper__top" id="wrapper">

    <div class="wrapper__content">
        <div class="content__block">

            <div class="container">

                <div class="profile__head">

                    <span>Привет, jamescyan01</span>

                    <div class="bell__container">

                        <div class="bell__bth">
                            <i class="fa-regular fa-bell"></i>
                        </div>

                        <div class="bell__active"></div>

                    </div>

                </div>
                
                <div class="profile__info">
                    
                    <div class="profile__avatar">
                        <img src="../img/jpg/img.jpg" alt="">
                    </div>

                    <span class="profile__name">
                        jamescyan01
                    </span>

                    <p class="profile__code">0x7ngmfksjgy9e2yghfewf1</p>

                </div>

                <div class="profile__block">

                    <span class="lvl__name">Уровень 1</span>

                    <p class="lvl__text">100 очков для следующего уровня</p>

                    <div class="progress__wrap">

                        <span class="progress__to">1</span>

                        <div class="progress__bar">
                            <!-- ЗДЕСЬ УКАЗЫВАТЬ ПРОГРЕСС В ПРОЦЕНТАХ -->
                            <span style="width: 70%"></span>
                        </div>

                        <span class="progress__from">2</span>

                    </div>

                </div>

                <div class="profile__block">

                    <div class="pb__flex">

                        <div>
                            <span class="lvl__name">Система достижений</span>

                            <p class="lvl__text">Зарабатывайте достижения и получайте очки вместе с нами</p>

                        </div>

                        <div class="rocket__wrapper">
                            <img src="../img/png/rocket.png" alt="">
                        </div>

                    </div>

                </div>

                <div class="profile__button">

                    <a href="achievement.html">
                        <i class="fa-solid fa-trophy"></i>
                        Достижения
                    </a>

                    <a href="referral.html">
                        <i class="fa-solid fa-user-plus"></i>
                        Реферальная система
                    </a>

                </div>

            </div>

        </div>
    </div>


    <div class="bar__block">

        <div class="bar__container">

            <div class="bar__ctx bar__ctx-1">
                <a class="bar__active" title="Профиль" href="profile.html"><i class="fa-regular fa-user"></i></a>

                <a title="Кошелёк" href="wallet.html"><i class="fa-solid fa-wallet"></i></a>
            </div>

            <a href="analyst.html" class="bar__button change__button">
                <i class="fa-solid fa-chart-column"></i>
            </a>

            <div class="bar__ctx bar__ctx-2">
                <a title="Обмен" href="change.html"> <i class="fa-solid fa-arrow-right-arrow-left"></i></a>

                <a class="cart__chart" title="Аналитика" href="#"><i class="fa-solid fa-chart-pie"></i></a>
            </div>

        </div>

    </div>

</main>

<script src="../scripts/swipe.js"></script>
<script src="../scripts/index.js"></script>

</body>
</html>