<!-- ЭТО РЕФЕРАЛЬНАЯ СИСТЕМА -->

<!DOCTYPE html>
<!--[if lt IE 6 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie6" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 7 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie7" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 8 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie8" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 9 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie9" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if IE 10 ]><html itemscope itemtype="https://schema.org/WebPage" class="ie ie10" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr"> <![endif]-->
<!--[if (gte IE 11)|!(IE)]><!-->
<html itemscope itemtype="https://schema.org/WebPage" lang="ru" prefix="og: http://ogp.me/ns#" dir="ltr">
<!--<![endif]-->
<head>

    <!-- SEO -->
    <meta charset="utf-8" />
    <title itemprop="name">Реферальная система</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="canonical" href="">
    <meta http-equiv="content-language" content="ru">
    <meta name="robots" content="index, follow">
    <meta http-equiv="x-dns-prefetch-control" content="on">

    <!-- Link libs -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css"
            integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">


    <link rel="stylesheet" href="../styles/vars.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/layout.css" />
</head>
<body class="body-wallet mobile-wallet">

<main class="wrapper" id="wrapper">

    <div class="referral__section">

        <div class="container">

            <a class="ref-back" href="profile.html"><i class="fa-solid fa-arrow-left"></i> Вернуться назад</a>

            <div class="bonus__block">

                <div>

                    <span class="active__bonus">$ 30</span>
                    <p>Активные бонусы</p>

                </div>

                <div>

                    <span class="none__bonus">$ 0</span>
                    <p>Использованные бонусы</p>

                </div>

            </div>

            <div class="copy__block">

                <img src="../img/png/front-shapes.png" alt="">

                <div class="copy__relative">

                    <img src="../img/png/ref-2.png" alt="">
                    
                    <span>Пригласи друга и получи бонус</span>

                    <p>Отправь другу свой код и получи бонус при следующем пополнении</p>

                    <div class="copy__flex">

                        <div class="copy__ctx">
                            <i class="fa-regular fa-copy"></i> TR2NY
                        </div>

                        <button class="copy__bth">Пригласить друзей</button>

                    </div>
                </div>

            </div>

            <div class="ref__history">

                <div class="rh-title">История приглашений</div>

                <div class="rh__list">

                    <div class="rh__ctx">

                        <div class="rh-left">

                            <div class="rh__title"><span>от:</span> miky</div>

                            <p class="rh__text-ok">Награда за приглашение</p>

                        </div>

                        <div class="rh-right">

                            <span class="rh__get">+ 15%</span>

                            <p class="rh__time">25 апреля 2023 15:57</p>

                        </div>

                    </div>

                    <div class="rh__ctx">

                        <div class="rh-left">

                            <div class="rh__title">miky</div>

                            <p class="rh__text">Приглашение отправлено</p>

                        </div>

                        <div class="rh-right">

                            <p class="rh__time">24 апреля 2023 13:57</p>

                        </div>

                    </div>

                    <div class="rh__ctx">

                        <div class="rh-left">

                            <div class="rh__title">thewitcher</div>

                            <p class="rh__text">Приглашение отправлено</p>

                        </div>

                        <div class="rh-right">

                            <p class="rh__time">23 апреля 2023 12:57</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>



</main>


</body>
</html>