{% extends 'main/module/base.html' %}

{% load static %}

{% block title %}
Регистрация
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "styles/layout.css" %}" />
<link rel="stylesheet" href="{% static "styles/messages.css" %}" />
<link rel="stylesheet" href="{% static "styles/auth.css" %}" />
{% endblock %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% block content %}
    <main class="wrapper" id="wrapper">

        <span class="planet-one">
            <img src="{% static "img/png/ПЛАНЕТА1.png" %}" alt="">
        </span>

        <span class="planet-two">
            <img src="{% static "img/png/ПЛАНЕТА2.png" %}" alt="">
        </span>

        <span class="planet-three">
            <img src="{% static "img/png/front-shapes.png" %}" alt="">
        </span>

        <div class="auth__section">

            <h1>Твой персональный <br /> крипто-кошелек</h1>

            <div class="auth__container">

                <form class="popup__form" method="POST" novalidate>
                    <span class="form__h1">Регистрация</span>

                    {% csrf_token %}

                    {% for field in form %}
                        <label class="popup__label label__email" for="{{ field.auto_id }}">
                            <span class="popup__label-span">{{ field.label }}</span>
                            {{ field }}
                        </label>
                    {% endfor %}

                    <button class="popup__button create__reg" type="submit"><i class="fa-solid fa-user-plus"></i> Регистрация</button>

                    <div class="form__a">
                        У вас уже есть аккаунт?
                        <a href="{% url 'auth' %}">Войти</a>
                    </div>

                </form>

            </div>

        </div>

    </main>
{% endblock %}